numpy
EMD_signal
ewtpy
matplotlib
padasip==1.2.2
pandas
PyEMD==1.0.0
PyWavelets
scikit_learn
scipy
seaborn
statsmodels==0.13.5
tslearn==0.6.1
vmdpy==0.2
tftb
tqdm
ssqueezepy
numba
jupyter